@use 'variables' as *;

@mixin breakpoint-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin button-disabled {
  &:disabled {
    opacity: 0.55;
    cursor: not-allowed;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
